<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="..." rel="stylesheet" integrity="..." crossorigin="anonymous">
        <script src="..." integrity="..." crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div id="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Actix Web Sample</a>
                <ul class="nav">
                    <li class="nav-item"></li>
                </ul>
            </nav>
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>